:root { 
    font-size: 10px;
    
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
html, body {
    width:100%;
    height:100%;
    background-color: #78e2ff;
}
body {
    padding:2rem;
}

main {
    width:100%;
    padding:2rem;
    border-radius:20px;
    background-color:#FFFFFF;
}
footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:60px;
    background-color:#000000;
}
.menu-bottom {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
    height:100%;
}
.menu-bottom div {
    background-color:#333;
    text-align:center;
    color:#FFF;
    padding:10px;
}
.grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:2rem;
}
.grid div {
    width:100%;
    aspect-ratio: 1;/*VIERKANT BLOK*/
    background-color:#FF00FF;
}


@media (min-width: 1000px) {
    .grid {
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
  }
